body {
    margin: 0;
    background: #050505;
    color: #00ff99;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 45px;
    text-shadow: 0 0 15px #00ff99;
}

p {
    font-size: 20px;
}

#gameCanvas {
    background: #111;
    border: 3px solid #00ff99;
    margin-top: 20px;
    box-shadow: 0 0 20px #00ff99;
}
